<h1>My Revisions Schedule</h1>
<% if user_signed_in? %>

  <div class="table-responsive-md">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 60%" scope="col">Document Name and tags</th>
          <th style="width: 20%" scope="col">Scheduled for</th>
          <th style="width: 20%" scope="col"></th>
        </tr>
      </thead>

      <tbody>

        <% @revision_sessions.each do |session| %>
          <% if session.scheduled_at < Date.today %>
            <tr class="revision-row row-past">
          <% elsif session.scheduled_at == Date.today  %>
            <tr class="revision-row row-today">
          <% elsif session.scheduled_at > Date.today  %>
            <tr class="revision-row row-future">
          <% end %>
              <td>
                <a href="" class="nav-link d-inline" role="button" data-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "Delete ", revision_session_path(session), class: "dropdown-item", method: :delete, data: { confirm: 'Are you sure?' }%>
                <%= link_to "Start Revision", revision_session_path(session), class: "dropdown-item"%>
              </div>
                <%= session.revision_session_concepts.first.concept.document.name %>
            <br>
              <div class="revision-tags">
                <% tags = [] %>
                <% session.revision_session_concepts.each { |con| tags << con.concept.tags } %>

                <% tags = tags.flatten.uniq %>
                <% tags_print = "" %>
                <% tags.each { |tag| tags_print += "#{tag.name} " } %>
                <% tags_print.split.each do |tag| %>
                  <div class="revision-tag">
                <%=tag %>
                  </div>
                <% end %>
              </div>
              </td>

              <td><% days_left =(Date.new((session.scheduled_at.year), (session.scheduled_at.month), (session.scheduled_at.day)) - Date.today).to_i %>
                <% if days_left == 0 %>
                  Today
                <%  elsif days_left == 1 %>
                  Tomorrow
                <%  elsif days_left == -1 %>
                  Yesterday
                <%  elsif days_left < -1 %>
                  <%= - days_left %> days ago
                <% else %>
                  In <%= days_left %> days
                <% end %>
              </td>

              <td style="text-align: right;">
                <% if session.scheduled_at <= Date.today %>
                  <%= link_to "Start Revision", revision_session_path(session), class: "revision-button" %>
                <% end %>
              </td>
            </tr>

        <% end %>

      </tbody>



</table>
</div>
<% end %>
