<div class="row">
<div class="col-md-10 offset-md-1 form-content">
<h1>Revise!</h1>

<div class ="container js-revision-session revision-cards">
  <% @session_answers.each_with_index do |session_answer, index| %>
    <div
      class="card-white js-revision-session-card revision-card"
      style="z-index: <%= @session_answers.length - index %>; transform: translateY(<%= index * 5 %>px)translateX(<%= index * 5 %>px);"
    >
      <%= simple_form_for session_answer, remote: true, url: revision_session_session_answers_path(@revision_session) do |f| %>
        <%= f.input :session_concept_id, :as => :hidden, input_html: { name: 'session_answer[session_concept_id]', value: session_answer.revision_session_concept.id } %>

        <h4><%= session_answer.revision_session_concept.concept.prompt %></h4>

        <div class="row">
          <div class="col-md-6 revision-card-question" style="max-width: 48%">
            <%= f.input :response, input_html: { name: 'session_answer[response]', class: 'js-session-answer-response' }, label: false %>

          </div>
          <div class="col-md-6 revision-card-answer" style="max-width: 48%;padding-top: 10px;">
            <div class="d-none js-revision-answer">
              <%= simple_format(session_answer.revision_session_concept.concept.content) %>
            </div>

          </div>
        </div>
          <div class="revision-card-toolbar answer-button" >
            <button class="js-check-answer-btn revision-card-check-answer-button btn btn-primary" type="button">Check answer</button>
            </div>
        <div class="js-revision-action-toolbar revision-card-toolbar d-none">
          <div class="revision-card-toolbar-overlay">
            <%= f.button :button, name: "session_answer[correct]",value: "true" do %>
              <i class="fa fa-check"></i>
            <% end %>
            <%= f.button :button, name: "session_answer[correct]",value: "false" do %>
              <i class="fa fa-times"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="card-white js-final-card d-none revision-card final-card-container">
    <div class="final-card">
    <%= link_to "Finish Session", revision_session_path(id: @revision_session), method: :put, class: "revision-button finished-session"%>
    <% if @next_session %>
    </div>
    <div class="final-card">
    <%= link_to "Save & Continue Today's Revision", revision_session_path(id: @revision_session, save_and_continue: "save_and_continue"), method: :put, class: "revision-button continue-to-next-session"  %>
    <% end %>
  </div>
  </div>
</div>
</div>
</div>

<!-- concept.prompt.nil? ? nil : :value => concept.content  -->
