

<% if user_signed_in? %>
<!-- Vertical navbar -->

<div class="vertical-nav js-navmenu" id="sidebar">


  <div class="py-4 px-3 mb-4 bg-light">



<!--     <li class="nav-item"> -->
 <!--      <a href="" class="nav-link text-dark font-italic dropdown-toggle collapsible" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->


      <img src="https://spectator.imgix.net/content/uploads/2016/05/iStock_000076568217_Large.jpg?auto=compress,enhance,format&crop=faces,entropy,edges&fit=crop&w=620&h=413" alt="..." width="100" class="mr-3 rounded-circle img-thumbnail d-inline" id="avatar">

        <h4 class="m-0 d-inline"><%= current_user.first_name %>  </h4>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
          <a href="" class="nav-link collapsible d-inline" role="button" data-toggle="dropdown"><i class="fas fa-bars circle-icon"></i></a>

</div>




  <div>
<ul class="nav flex-column mb-1">
  <li class="nav-item">
      <%= link_to new_document_path, { :class=>"nav-link" } do %>
        <i class="fas fa-plus mr-3 fa-fw circle-icon" ></i> New Document
      <% end %>
    </li>
</ul>
</div>
<div>
<ul class="nav flex-column mb-4">
  <li class="nav-item">
      <%= link_to revision_sessions_path, { :class=>"nav-link" } do %>
        <i class="fas mr-3 fa-fw circle-icon" ><span class="notification-number font-weight-bold"><%= RevisionSession.todays_sessions(current_user) %></span></i><%= "Session".pluralize(RevisionSession.todays_sessions(current_user)) %> Remaining
      <% end %>
    </li>
</ul>
</div>
  <ul class="nav flex-column mb-0">
     <li class="nav-item">
      <%= link_to revision_sessions_path, { :class=>"nav-link font-italic" } do %>
        <i class="fas fa-glasses mr-3 fa-fw" ></i> My Revisions Schedule
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to root_path, { :class=>"nav-link font-italic" } do %>
        <i class="fas fa-tachometer-alt mr-3 fa-fw" ></i> Dashboard
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to search_path, { :class=>"nav-link font-italic" } do %>
        <i class="fas fa-sticky-note mr-3 fa-fw" ></i> Concepts
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to tags_path, { :class=>"nav-link font-italic" } do %>
        <i class="fas fa-tag mr-3 fa-fw" ></i> Tags
      <% end %>
    </li>
     <li class="nav-item">
      <%= link_to archive_path, { :class=>"nav-link font-italic" } do %>
        <i class="fas fa-archive mr-3 fa-fw" aria-hidden="true"></i> Archive
      <% end %>
    </li>
  </ul>
  <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">My Documents</p>

  <ul class="nav flex-column mb-0">
    <li class="nav-item folder-section">
      <a href="<%= documents_path %>" class="nav-link">See all my documents</a>
    </li>

    <li class="nav-item folder-section">
      <% Document.where(folder_id: nil).each do |document| %>
        <a class="nav-link" href="<%= document_path(document) %>"><%= document.name  %></a>
      <% end %>
    </li>

    <!-- Creating a nav item per folder -->
    <% Folder.where(user: current_user).each do |folder| %>
    <div class="dropdown show">
    <li class="nav-item">
      <a href="" class="nav-link collapsible" role="button" data-toggle="dropdown">
        <i class="fas fa-caret-right" id="arrow-folder"></i>
                <%= folder.name %>
            </a>


    <!-- Creating a dropdown view per document -->
    <div class="content-collapsible" aria-labelledby="dropdownMenuLink">
      <% Document.where(folder_id: folder).each do |document| %>
        <a class="" href="<%= document_path(document) %>"><%= document.name  %></a><br>
      <% end %>
    </div>

    <!-- End of the dropdown view per document -->

    </li>
    </div>
    <% end %>


    <!-- End of the nav item per folder -->
  </ul>
  </div>
</div>
<!-- End vertical navbar -->
<% else %>
<div class="vertical-nav js-navmenu" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
      <div class="media-body">
        <h4 class="m-0">Welcome to Curiosity</h4>
      </div>
    </div>
  </div>
  <ul class="nav flex-column mb-0">
    <li class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Sign Up",  new_user_registration_path, class: "nav-link" %>
    </li>
  </ul>
</div>

<% end %>






