<div class="row">
<div class="col-md-8 offset-md-2 form-content">
<h2>Below are all the documents</h2>
<ul>
  <% @documents.each do |document| %>
  <li>
    <%= link_to document.name, document_path(document) %>
    <small>  -- <%= link_to "Delete", document_path(document), method: :delete, data: { confirm: 'Are you sure?' }  %></small>

  </li>
<% end %>
</ul>
</div>
</div>
<br><br>


<div class="container-form">
<div class="row">
<div class="col-md-8 offset-md-2 form-content">
<h2>Create a new folder</h2>
<div class="content">
<%= simple_form_for @folder do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <div class="form-action btn btn-primary">
    <%= f.button :submit %>
  </div>
<% end %>
<br>
<h2>Create a new document</h2>
<%= simple_form_for @document do |f| %>
  <%= f.error_notification %>
<!--   <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
 -->
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :folder, collection: Folder.all.order(:name) %>
    <%= f.input :notes %>
  </div>

  <div class="form-action btn btn-primary">
    <%= f.button :submit %>
  </div>

<% end %>
</div>
</div>
</div>
</div>

