<%= simple_form_for @document do |f| %>
  <div class="new-document-page">
    <div class="new-document-page-header">
      <%= f.input :folder, collection: Folder.all.order(:name), label: false %> / <%= f.input :name, placeholder: 'Untitled Document', label: false %>
      <div class="form-action btn btn-primary">
        <%= f.button :submit %>
      </div>
      <%= f.error_notification %>
    </div>

    <div class="js-document-editor new-document-page-editor document-editor">
      <%= f.input :notes, wrapper_html: { class: 'document-editor-input' }, input_html: { class: 'js-notes-input' } %>
      <div class="js-notes-display document-editor-text"></div>
    </div>
  <!--   <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
   -->
  </div>

<% end %>
