<div class="row">
<div class="col-md-10 offset-md-1 form-content">
<% if @document.concepts.length.zero? %>
  <%= simple_form_for @document, url: document_path(@document) do |f| %>
    <div class="new-document-page">

      <div class="new-document-page-header">
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="save-buttons">
          <%= f.submit "Save" , class: "form-action btn btn-primary btn-orange" %>
          <%= f.submit "Save & Create Concepts", name: "save_and_create", class: "form-action btn btn-primary btn-orange" %>
        </div>
      </div>

      <div class="new-document-white-page">

        <div class="document-editor-toolbar">

          <div class="document-editor-name">
            <%= f.input :name, value: "@document.name", placeholder: 'Untitled Document', label: false, wrapper_html: { class: 'document-name-input' } %>
          </div>

          <div class="document-editor-meta">
          <%= f.input :folder, collection: Folder.all.order(:name), label: false, prompt: "Choose folder" %>
          <%= f.input :end_at, as: :string, label: false, required: false, input_html: {class: "datepicker"} %>
        </div>

      </div>

        <div class="js-document-editor new-document-page-editor document-editor">
          <%= f.input :notes, value: "@document.notes", wrapper_html: { class: 'document-editor-input' }, input_html: { class: 'js-notes-input' } %>
          <div class="js-notes-display document-editor-text"></div>

        </div>
      </div>
    </div>

  <% end %>

<% else %>

  <% unless @document.end_at.nil? %>
  <% end %>
  <%= simple_form_for @document, url: document_path(@document) do |f| %>
    <div class="new-document-page">

      <div class="new-document-page-header">

        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="save-buttons update-buttons">
          <%= link_to "Revise", revision_sessions_doc_path(@document), method: :post, class: "btn btn-primary btn-orange" %>
          <%= f.submit "Update" , class: "form-action btn btn-primary btn-orange" %>
          <%= link_to "Delete this Document", document_path(@document), method: :delete, data: { confirm: 'Are you sure?' }, class: "form-action btn btn-primary btn-orange" %>
        </div>
      </div>

      <div class="new-document-white-page">

        <div class="document-editor-toolbar">


        <div class="document-editor-name">
          <%= f.input :name, value: "@document.name", placeholder: 'Untitled Document', label: false, wrapper_html: { class: 'document-name-input' } %>
        </div>

        <div class="document-editor-meta">
          <%= f.input :folder, collection: Folder.all.order(:name), label: false, value: "@document.folder", prompt: "Choose folder" %>
          <%= f.input :end_at, as: :string, label: false, required: false, input_html: {class: "datepicker"}, value: "@document.end_at" %>
        </div>

        </div>

        <div class="js-document-editor new-document-page-editor document-editor">
          <%= f.input :notes, value: "@document.notes", wrapper_html: { class: 'document-editor-input' }, input_html: { class: 'js-notes-input' } %>
          <div class="js-notes-display document-editor-text"></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
</div>






